/* ========= GLOBALT ========== */
body {
  margin: 0;
  padding: 0;

  /* LYXIG GRÖN BAKGRUND */
  background: linear-gradient(
    to bottom right,
    #0b4428,
    #0e5a32,
    #12723f
  );

  background-attachment: fixed;
  font-family: "Inter", sans-serif;
}

/* Gör att App inte lägger egen vit bakgrund */
#root, .App {
  background: transparent !important;
}
